/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-card {
  margin-bottom: 30px;
}

.el-pagination {
  margin-top: 15px;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

/* https://segmentfault.com/q/1010000015765492/a-1020000016365925 */
.el-select-dropdown .el-scrollbar .el-scrollbar__wrap {
  overflow: scroll;
}

* {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

@font-face {
  font-family:'PingFang';
  src: url(../fonts/PingFang/PingFangSC_0.ttf);
}

@font-face {
  font-family:'MiLanProVF';
  src: url(../fonts/MiLanProVF.ttf);
}

textarea {
  font-family: inherit;
}
